
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Settings Landing Works</h5>
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/settings/territory'" routerLinkActive="active"> Territory </a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" [routerLink]="'#'" routerLinkActive="active"> Notifications </a>
            </li> -->
          </ul> 
       
    </div>
  </div>
   
  